@page "/Content"

<PageTitle>Content</PageTitle>

<RadzenContent Container="main">
  <ChildContent>
     <div class="row">
      <div class="col-md-12">
    <RadzenTemplateForm TItem="dynamic">
      <ChildContent>
        <RadzenHeading Size="H1" Text="Title">
        </RadzenHeading>
        <RadzenHeading Size="H3" Text="Subtitle">
        </RadzenHeading>
        <RadzenCard Style="background-color: aliceblue; height: 400px;">
        </RadzenCard>

        <RadzenHeading Size="H3" Text="Article content">
        </RadzenHeading>
        <RadzenCard Style="background-color: aliceblue; height: 200px;">
            <RadzenTextArea Style = "height: 200px;">

            </RadzenTextArea>
        </RadzenCard>

        <RadzenHeading Size="H3" Text="Comments">
        </RadzenHeading>
        <RadzenCard Style="background-color: aliceblue; height: 75px;">
            <RadzenTextArea Style = "height: 50px;">
            </RadzenTextArea>
        </RadzenCard>
        <RadzenCard Style="background-color: aliceblue; height: 75px;">
            <RadzenTextArea Style = "height: 50px;">
            </RadzenTextArea>
        </RadzenCard>
        <RadzenCard Style="background-color: aliceblue; height: 75px;">
            <RadzenTextArea Style = "height: 50px;">
            </RadzenTextArea>
        </RadzenCard>
        <RadzenCard Style="background-color: aliceblue; height: 75px;">
            <RadzenTextArea Style = "height: 50px;">
            </RadzenTextArea>
        </RadzenCard>

      </ChildContent>
    </RadzenTemplateForm>
     </div>
    </div>
  </ChildContent>
</RadzenContent>

@code{

}