@page "/Home"

<PageTitle>Home</PageTitle>

<RadzenContent Container="main">
  <ChildContent>
     <div class="row">
      <div class="col-md-12">
    <RadzenTemplateForm TItem="dynamic">
      <ChildContent>
        <RadzenTextBox Placeholder="Search..." Component="Search" style="width: 100%">
        </RadzenTextBox>
       
         
       
          
      </ChildContent>
    </RadzenTemplateForm>
     </div>
    </div>
  </ChildContent>
</RadzenContent>

@code{

}