@page "/Search"

<PageTitle>Search</PageTitle>

<RadzenContent Container="main">
  <ChildContent>
     <div class="row">
      <div class="col-md-12">
    <RadzenTemplateForm TItem="dynamic">
      <ChildContent>
        <RadzenTextBox Placeholder="Search..." Component="Search" style="width: 100%">
        </RadzenTextBox>
        
          <RadzenCard>
          
          <RadzenMenu>
            <RadzenMenuItem Text="Programming language" Icon="keyboard_alt">
              <RadzenMenuItem Text="C#"></RadzenMenuItem>
              <RadzenMenuItem Text="Java"></RadzenMenuItem>
              <RadzenMenuItem Text="Go"></RadzenMenuItem>
              <RadzenMenuItem Text="C++"></RadzenMenuItem>
              <RadzenMenuItem Text="Python"></RadzenMenuItem>
            </RadzenMenuItem>
          
            <RadzenMenuItem Text="Programming Level" Icon="hardware">
              <RadzenMenuItem Text="Beginner"></RadzenMenuItem>
              <RadzenMenuItem Text="Intermediate"></RadzenMenuItem>
              <RadzenMenuItem Text="Practiced"></RadzenMenuItem>
            </RadzenMenuItem>
          </RadzenMenu>
           <RadzenCard Style="background-color: aliceblue; height: 100px;">
              <RadzenHeading Size="H3" Text="Result"></RadzenHeading>
          </RadzenCard>
          <RadzenCard Style="background-color: aliceblue; height: 100px;">
              <RadzenHeading Size="H3" Text="Result"></RadzenHeading>
          </RadzenCard>
          <RadzenCard Style="background-color: aliceblue; height: 100px;">
              <RadzenHeading Size="H3" Text="Result"></RadzenHeading>
          </RadzenCard>
          <RadzenCard Style="background-color: aliceblue; height: 100px;">
              <RadzenHeading Size="H3" Text="Result"></RadzenHeading>
          </RadzenCard>
          <RadzenCard Style="background-color: aliceblue; height: 100px;">
              <RadzenHeading Size="H3" Text="Result"></RadzenHeading>
          </RadzenCard>
          
          </RadzenCard>
         
       
          
      </ChildContent>
    </RadzenTemplateForm>
     </div>
    </div>
  </ChildContent>
</RadzenContent>

@code{

}