@page "/VideoDetails/{videoId:int}"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using SETraining.Shared.DTOs
@inject IHttpClientFactory _httpClientFactory



<RadzenButton Click=@(() => Back()) Text="Go Back" ButtonStyle="ButtonStyle.Secondary" />

@if (video != null)
{
    
    <div style="margin-top: 60px; right:0px;">
        <video src="@video.Path"></video>
        
    </div>
    
}


@code {
    
    [Parameter]
    public int? VideoId { get; set; }

    private VideoDTO? video;
    HttpClient anonymous = new ();


    protected override async Task OnParametersSetAsync()
    {
        anonymous = _httpClientFactory.CreateClient("SETraining.ServerAPI.Anonymous");

        if (VideoId != 0)
        {
            video = await anonymous.GetFromJsonAsync<VideoDTO>($"api/Video/id={VideoId}");
        }

        await base.OnParametersSetAsync();
    }
    private void Back()
    {
        var uri = $"{NavigationManager.BaseUri}";

        NavigationManager.NavigateTo(uri);
    }
}