@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <div style="margin-right: 10px;">
            @context.User.Identity?.Name
        </div>
        <RadzenButton Text="Log out" Click=@(BeginLogout) ButtonStyle="ButtonStyle.Secondary"></RadzenButton>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">
             <RadzenButton Text="Log in" ButtonStyle="ButtonStyle.Secondary"></RadzenButton>
        </a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginLogout()
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
